{% extends "base.html.twig" %}

{% block main %}

    <h1>Hello , {{ user.fullName }}!</h1>

    <h3>Your email is: {{ user.email }}</h3>

    <br/><br/>
    <a class="btn btn-default btn-xs" href="{{ path('blog_index') }}">back &raquo;</a>

{% endblock %}