{% extends "base.html.twig" %}

{% block main %}
    <div class="wrapper">
        <form class="mountaineer-create" action="{{ path('create') }}" method="post">
            <div class="create-header">
                Register a New Mountaineer
            </div>

            <div class="create-mountaineeritem">
                <div class="create-mountaineeritem-label">Name</div>
                <input type="text" class="create-mountaineeritem-content" name="mountaineer[name]" required/>
            </div>
            <div class="create-mountaineeritem">
                <div class="create-mountaineeritem-label">Age</div>
                <input type="number" min="1" class="create-mountaineeritem-content" name="mountaineer[age]" required/>
            </div>

            <div class="create-mountaineeritem">
                <div class="create-mountaineeritem-label">Gender</div>

                <div class="gender-select">
                    <div class="radio-div">
                        <input class="radio-input" type="radio" name="mountaineer[gender]" value="Male" id="male" checked>
                        <label class="radio-label" for="male">Male</label>
                    </div>
                    <div class="radio-div">
                        <input class="radio-input" type="radio" name="mountaineer[gender]" value="Female" id="female">
                        <label class="radio-label" for="female">Female</label>
                    </div>
                </div>
            </div>

            <div class="create-mountaineeritem">
                <div class="create-mountaineeritem-label">Last Seen Date</div>
                <input type="date" class="create-mountaineeritem-content" name="mountaineer[lastSeenDate]" required/>
            </div>

            <div class="create-button-holder">
                <button type="submit" class="button">Register Mountaineer</button>
                <a type="button" href="/" class="button">Back</a>
            </div>
            {{ form_row(form._token) }}
        </form>
    </div>
{% endblock %}